
   <mat-expansion-panel>
       <mat-expansion-panel-header>
           <mat-panel-title>
               Vehicle selection
           </mat-panel-title>
       </mat-expansion-panel-header>
       <div fxLayout="row wrap" fxLayoutGap="32px">
             <div>
               <mat-form-field> 
                  <mat-label>ZIPCODE</mat-label>
                  <input name="zip" matInput [matAutocomplete]="auto" [(ngModel)]="zip" required >
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let st of s" [value]="st" >
                      {{st}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
             </div>
             <div>
               <button mat-raised-button color="warn" (click)="clickfunction()">GO</button>
             </div>  
        </div>
        
      <div *ngIf="vehicles" fxLayout="coloumn " >        
            <mat-tab-group mat-align-tabs="center" class="mattab">
               <mat-tab label="Car">
                   <app-vehicle [v_list] = "car_list"></app-vehicle>
                </mat-tab>
               <mat-tab label="Truck">
                   <app-vehicle  [v_list] = "truck_list"></app-vehicle>
                </mat-tab>
               <mat-tab label="Suv">
                   <app-vehicle  [v_list] = "suv_list"></app-vehicle>
                </mat-tab>
               <mat-tab label="Hybrid">
                   <app-vehicle  [v_list] = "hybrid_list"></app-vehicle>
                </mat-tab>
            </mat-tab-group>              
      </div>

   </mat-expansion-panel>
